* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

nav.top-color {
    width: 100%;
    height: 12vh;
    position: relative;
    background-color: rgba(32,37,50,255);
}

nav.top span.logo {
    background: url(assets/logokumbang.png);
    background-size: 100% 100%;
    height: 11vh;
    width: 20vh;
    background-repeat: no-repeat;
    margin: 0 1vw 0 1vw;
}

nav.top a {
    text-decoration: none;
    color: black;
}

nav.top {
    width: 80vw;
    height: 11vh;
    line-height: 11vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0.25vh 0.25vh 0.25vh 0.25vh lightgray;
    margin: 0 auto;
    position: fixed;
    margin-top: -5.5vh;
    font-size: 1vw;
    left: 10vw;
    right: 10vw;
    z-index: 100;
}

nav.top div {
    cursor: pointer;
}

nav.top span {
    cursor: pointer;
}

div.kalender {
    margin-left: 5vw;
}

div.kalender h1 {
    font-weight: lighter;
    font-size: 4.5vh;
    margin-top: 15vh;
}

div.kalender span.kalender {
    background-image: url(assets/kalender-akademik.png);
    background-size: 100% 100%;
    height: 140vh;
    width: 55vw;
    display: flex;
    margin-top: 10vh;
}

div.bottom {
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: rgba(32,37,50,255);
}

div.bottom div.container div span.logo {
    display: flex;
    background-image: url(assets/logokumbang-light.png);
    background-size: 100% 100%;
    width: 20vw;
    height: 15vh;
    background-repeat: no-repeat;
}

div.bottom div.container {
    display: flex;
    gap: 1vw;
    margin: 0 auto;
    margin-top: 10vh;
}

div.bottom div.container div {
    width: 20vw;
    height: 50vh;
    /* background-color: pink; */
    color: white;
    display: flex;
    flex-direction: column;
}

div.bottom div.container div div {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    font-size: 1.25vw;
}

div.bottom div.container div div nav {
    color: blue;
}

div.bottom div.container div h1 {
    font-size: 2.75vh;
    margin-bottom: 5vh;
}

div.underline {
    text-decoration: underline;
}

div.bottom div.container div span.logo{
    background-image: url(assets/logokumbang-light.png);
    width: 15vw;
    height: 27.5vh;
    background-size: 100% 100%;
    margin-bottom: 5vh;
}

div.bottom div.container div div.contacts {
    display: flex;
    flex-direction: row;
}

div.bottom div.container div div.contacts-logo {
    background-image: url(assets/Screenshot\ \(177\).png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

nav.line {
    color: white;
    width: 80%;
    height: 0.25vh;
}