* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

nav.top-color {
    width: 100%;
    height: 12vh;
    position: relative;
    background-color: rgba(32,37,50,255);
}

nav.top span.logo {
    background: url(assets/logokumbang.png);
    background-size: 100% 100%;
    height: 11vh;
    width: 20vh;
    background-repeat: no-repeat;
    margin: 0 1vw 0 1vw;
}

nav.top a {
    text-decoration: none;
    color: black;
}

nav.top {
    width: 80vw;
    height: 11vh;
    line-height: 11vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0.25vh 0.25vh 0.25vh 0.25vh lightgray;
    margin: 0 auto;
    position: fixed;
    margin-top: -5.5vh;
    font-size: 1vw;
    left: 10vw;
    right: 10vw;
    z-index: 100;
}

nav.top div {
    cursor: pointer;
}

nav.top span {
    cursor: pointer;
}

nav.video {
    height: calc(100vh - 20vh);
    background-color: gray;
    /* position: relative; */
    margin-top: 7vh;
}

nav.whatsapp {
    display: flex;
    /* background-color: red; */
    width: 16vw;
    height: 7vh;
    line-height: 7vh;
    position: fixed;
    right: 0vw;
    bottom: 2.5vh;
    gap: 0.25vw;
    font-size: 0.76vw;
    z-index: 100;
}

nav.whatsapp div.text {
    display: flex;
    gap: 0.3vw;
    background-color: lightgray;
    border-radius: 1vh;
    height: 5vh;
    margin: 1vh 0 1vh 0;
    line-height: 5vh;
    width: 12vw;
    justify-content: center;
}

nav.whatsapp span.logo {
    background-size: 100% 100%;
    background-image: url(assets/whatsapp-logo.png);
    width: 7vh;
    height: 7vh;
    background-repeat: no-repeat;
}

span.page2 {
    width: 70vw;
    margin: 0 auto;
    height: 75vh;
    /* background-color: orange; */
    display: flex;
}

span.page2 div.pendaftaran {
    width: 35vw;
    height: inherit;
    /* background-color: magenta; */
}

span.page2 div.pendaftaran h1 {
    margin: 8vh 5vh 8vh 0;
}

span.page2 div.pendaftaran p {
    word-spacing: 1vh;
    letter-spacing: 0.25vh;
    line-height: 3vh;
    font-size: 1vw;
    color: rgb(64, 57, 57);
}

span.page2 div.pendaftaran div.button {
    width: 17.5vw;
    height: 7.5vh;
    border-radius: 3.75vh;
    background-color: white;
    border: cyan 0.3vh solid;
    border-color: lightskyblue;
    border-width: 0.3vh;
    color: lightskyblue;
    font-weight: bold;
    word-spacing: 0.25vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

span.page2 div.pendaftaran div.button a {
    line-height: 7.5vh;
    font-size: 1vw;
    text-decoration: none;
    color: lightskyblue;
    font-weight: lighter;
}

span.page2 div.school-tour {
    width: 35vw;
    height: inherit;
    /* background-color: cyan; */
}

span.page2 div.school-tour h1 {
    margin: 8vh 0 8vh 0;
}

span.page3 {
    width: 70vw;
    height: 75vh;
    /* background-color: lightblue; */
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

span.page3 div.slideshow div.minus, div.plus {
    position: absolute;
    color: white;
    font-size: 10vh;
    display: flex;
    opacity: 0;
    z-index: 50;
}

span.page3 div.slideshow div.one {
    background-image: url(assets/Screenshot\ \(171\).png);
    width: inherit;
    background-color: green;
    height: inherit;
    background-size: 100% 100%;
}

span.page3 div.slideshow div.two {
    background-image: url(assets/Screenshot\ \(172\).png);
    width: inherit;
    height: inherit;
    background-color: white;
    background-size: 100% 100%;
}

span.page3 div.slideshow div.three {
    background-image: url(assets/Screenshot\ \(173\).png);
    width: inherit;
    height: inherit;
    background-size: 100% 100%;
    background-color: blue;
}

div.slideshow {
    position: relative;
    overflow: hidden;
}

span.page3 div.slideshow div.minus{
    position: absolute;
    top: 28.5vh;
    cursor: pointer;
}

span.page3 div.slideshow div.minus:hover, div.plus:hover{
    opacity: 1;
}

span.page3 div.slideshow div.plus{
    position: absolute;
    top: 28.5vh;
    right: 0vh;
    cursor: pointer;
}

span.page3 h1 {
    font-size: 2.3vw;
}

span.page3 div.slideshow {
    width: 70vw;
    height: 65vh;
    background-color: rebeccapurple;
    margin-top: 5vh;
}

span.page4 {
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 7.5vh;
}

span.page4 div.slideshow2 {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

span.page4 div.image2 {
    height: 90vh;
    width: 75vw;
    margin: 0 auto;
}

span.page4 div.slideshow2 div.one2 {
    background-image: url(assets/Screenshot\ \(174\).png);
    background-color: green;
    background-size: 100% 100%;
}

span.page4 div.slideshow2 div.two2 {
    background-image: url(assets/Screenshot\ \(175\).png);
    background-color: white;
    background-size: 100% 100%;
}

span.page4 div.slideshow2 div.three2 {
    background-image: url(assets/Screenshot\ \(176\).png);
    background-size: 100% 100%;
    background-color: blue;
}

span.page4 div.slideshow2 div.minus2, div.plus2{
    font-size: 5vw;
    position: absolute;
}

span.page4 div.slideshow2 div.minus2 {
    top: 35vh;
}
span.page4 div.slideshow2 div.plus2 {
    top: 35vh;
    right: 0vh;
}

span.page5 {
    width: 70vw;
    height: 85vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

span.page5 span.top {
    display: flex;
    width: inherit;
    height: 15vh;
    /* background-color: skyblue; */
}

span.page5 span.top h1 {
    width: 45vw;
    line-height: 2vh;
}

span.page5 span.top div.container {
    display: flex;
    justify-content: space-around;
    width: 25vw;
    height: 5vh;
    /* background-color: red; */
    line-height: 15vh;
}

span.page5 span.bottom {
    height: 70vh;
    width: 70vw;
}

span.page5 span.bottom div.container{
    overflow: hidden;
    height: 70vh;
    width: 70vw;
    /* background-color: red; */
}

span.page5 div.container div.image3 {
    width: inherit;
    height: inherit;
}

span.page5 div.container div.one3 {
    background-image: url(assets/Screenshot\ \(167\).png);
    background-color: green;
    background-size: 100% 100%;
}

span.page5 div.container div.two3 {
    background-image: url(assets/Screenshot\ \(169\).png);
    background-color: white;
    background-size: 100% 100%;
}

span.page5 div.container div.three3 {
    background-image: url(assets/Screenshot\ \(170\).png);
    background-size: 100% 100%;
    background-color: blue;
}

span.page6 {
    height: 90vh;
    width: 100%;
}

span.page6 div.top {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 130, 130);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.page6 div.top h1 {
    color: white;
    font-size: 2vw;
    font-weight: lighter;
    line-height: 15vh;
    margin-left: 10vw;
}

span.page6 div.top button {
    height: 5.75vh;
    width: 12.5vw;
    color: white;
    border-color: lightgray;
    font-weight: bold;
    background-color: rgb(0, 130, 130);
    border-width: 0.5vh;
    margin: 4.125vh 10vw 4.125vh 0vh;
}

span.page6 div.bottom {
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: rgba(32,37,50,255);
}

span.page6 div.bottom div.container div span.logo {
    display: flex;
    background-image: url(assets/logokumbang-light.png);
    background-size: 100% 100%;
    width: 20vw;
    height: 15vh;
    background-repeat: no-repeat;
}

span.page6 div.bottom div.container {
    display: flex;
    gap: 1vw;
    margin: 0 auto;
    margin-top: 10vh;
}

span.page6 div.bottom div.container div {
    width: 20vw;
    height: 50vh;
    /* background-color: pink; */
    color: white;
    display: flex;
    flex-direction: column;
}

span.page6 div.bottom div.container div div {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    font-size: 1.25vw;
}

span.page6 div.bottom div.container div div nav {
    color: blue;
}

span.page6 div.bottom div.container div h1 {
    font-size: 2.75vh;
    margin-bottom: 5vh;
}

div.underline {
    text-decoration: underline;
}

span.page6 div.bottom div.container div span.logo{
    background-image: url(assets/logokumbang-light.png);
    width: 15vw;
    height: 27.5vh;
    background-size: 100% 100%;
    margin-bottom: 5vh;
}

span.page6 div.bottom div.container div div.contacts {
    display: flex;
    flex-direction: row;
}

span.page6 div.bottom div.container div div.contacts-logo {
    background-image: url(assets/Screenshot\ \(177\).png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

nav.line {
    color: white;
    width: 80%;
    height: 0.25vh;
}
    color: white;
    width: 80%;
    height: 0.25vh;
}
